.container {
    
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightblue ; 
    padding: 10px; 
    text-align: center; 
}

.item {
    

    font-weight: lightblue;
    list-style: none;


}



.botaoRolagem {
    background-color: blue; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    position: fixed; 
    bottom: 0px; 
    right: 20px; 
     
  
  }
  
  
 
  