.container {
    
    position: fixed;
    bottom: 0;
<<<<<<< HEAD
    left: -1%;
    width: 100%;
    background-color: lightblue ; 
=======
    left: 0;
    width: 100%;
    background-color: aqua; 
>>>>>>> feature1
    padding: 10px; 
    text-align: center; 
}

.item {
    
<<<<<<< HEAD
    font-weight: lightblue;
    list-style: none;


}



=======
    font-weight: blue;
    list-style: none;

   
    
}


.main-content {
    margin-bottom: 100px;  
}
>>>>>>> feature1


    
     



.item{
    margin: 0 1em;
    position: bottom;
}